
body {
	background-color:#FAFAFA;
}
nav{
	background-color:#FAFAFA;
	height:3.3em;
	line-height:3.3em;
	padding:0 13.5em;
	border-bottom:0.1px solid #dbdbdb;
}

.logo{
	text-decoration: none;
}
.logo>img {
	vertical-align:middle;
}
.search{
	background:#fafafa;
	margin-left: 19em;
	height: 1.9em;
	width:17em;
	border: 1px solid;
}
.search::placeholder{
	text-align:center;
	color: #ffffff;
}
.nav-links{
	margin-left:1.5em;
}
.nav-links>a{
	margin-left:1em;
}
.nav-links i{
	transform: scale(1.6);
	color:#4f4f4f;
	vertical-align:middle;
}
.container{
	padding:0 15%;
}
.bio{
	display:grid;
	grid-template-columns:1fr 2fr;
	height:13em;
	padding:3em 0 0 5em;
	border-bottom: 0.2px solid #dbdbdb;
}
.profile-photo{
	background-color:brown;
	width:10em;
	height:10em;
	border-radius:50%;
	
}
.profile-photo>img {
	width:100%;
	height:100%;
	object-fit:cover;
	border-radius:50%;
}

.profile-info>username{
	font-size:1.8em;
	color:#545454;
}
.profile-info button{
	background-color: #0095f6;
	color:#fff;
	font-size:1.1em;
	width:6em;
	height:2em;
	border:unset;
	cursor:pointer;
}
.gallery-nav{
	height:3.5em;
	
}
.gallery{
	display:grid;
	grid-template-columns: 1fr 1fr 1fr;
	row-gap:2em;
	margin-bottom:2em;
}
.item{
	height:15em;
	width:15em;
	background:#000;
}
item>img{
	height:100%;
	width:100%;
	object-fit:cover;
}
.item>img:hover{
	opacity:0.7;
}







	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
		
	
	
	

	
